<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>388689182317-dgu1puloj2fav7stqf4gt6upp4n7ml5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388689182317-dgu1puloj2fav7stqf4gt6upp4n7ml5o</string>
	<key>API_KEY</key>
	<string>AIzaSyAuao7TMuRic88jxFZWbVeIcjgS4dspYqE</string>
	<key>GCM_SENDER_ID</key>
	<string>388689182317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shokry.YallaSa7el</string>
	<key>PROJECT_ID</key>
	<string>yallasa7el-9df57</string>
	<key>STORAGE_BUCKET</key>
	<string>yallasa7el-9df57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388689182317:ios:8ddf52afa4b27487</string>
	<key>DATABASE_URL</key>
	<string>https://yallasa7el-9df57.firebaseio.com</string>
</dict>
</plist>